%center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%f-bold {
    font-weight: bold;
}
%weight600 {
    font-weight: 600;
}
%overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9;
}
%radius50 {
    border-radius: 50%;
}
%hidden {
    overflow: hidden;
}
%h3 {
    display: block;
    margin-bottom: 15px;
    color: $defaultColor;
}