// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";

// colors
$defaultColor: #127002;
$colorSecondry: #BD9710;
$flatFFF: #FFF;
$flatEF: #EFEFEF;
$iconColor: #9B9797;
$flatblack: #141212;
$whatsapp: #25D366;
$flatEEE: #EEE;
$flat555: #555555;

// Spcial Colors
$faceColor: #3b5998;
$twitterColor: #1da1f2;